<div  ng-controller="addEventoViewCtrl as $ctrl">
	<div class="header">
      <div class="outerHeader">
        <div class="MenuHeader">
          <a href="#!/eventoView"><span class="fa fa-chevron-left"></span></a>
        </div>
      </div>
      <div class="centerHeader">
        <span class="title">NUOVO EVENTO</span>
      </div>
      <div class="outerHeader">
      </div>
    </div>
    <div class="container" style="width: 90%">
      <form method="post" class="form-horizontal" ng-submit="addEvento()" enctype="multipart/form-data">
      <div class="row" style="margin-top: 170px">
        <div class="col-xs-5">
          <div class="form-group">
            <label for="nome" style="font-size: 1.5em" class="control-label">Nome Evento</label><br /><br />
            <input type="text" id="nome" class="form-control" placeholder="Nome Evento" name="nome" ng-model="dati.nome_evento"/>
          </div>
          <div class="form-group">
            <label for="nome" style="font-size: 1.5em" class="control-label">Data Evento</label><br /><br />
            <input type="date" id="data" class="form-control" name="data" ng-model="dati.data_evento"/>
          </div>
          <div class="form-group">
            <label style="font-size: 1.5em" class="control-label">Luogo Evento</label><br /><br />
            <div id="locationField">
              <input id="autocomplete" class="form-control" placeholder="Luogo Evento" onFocus="geolocate()" type="text" name="map" ng-model="dati.location_evento"/>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-xs-offset-1">
          <div class="form-group">
            <label for="nummin" style="font-size: 1.5em" class="control-label">Numero Minimo Invitati</label><br /><br />
            <input type="number" id="nummin" class="form-control" name="nummin" min="1" max="20" style="width: 80px" value="1" ng-model="dati.min_invitati"/>
          </div>
          <div class="form-group">
            <label for="nummax" style="font-size: 1.5em" class="control-label">Numero Massimo Invitati</label><br /><br />
            <input type="number" id="nummax" class="form-control" name="nummax" min="2" max="50" style="width: 80px" value="50" ng-model="dati.max_invitati"/>
          </div>
          <div class="form-group">
            <label for="prezzo" style="font-size: 1.5em" class="control-label">Prezzo</label><br /><br />
            <input type="number" id="prezzo" class="form-control" name="prezzo" min="1" max="10" style="width: 80px" value="3" ng-model="dati.prezzo"/>
          </div>
        </div>
        <div class="contenitore viola" ng-if="dati.lista_necessita.length > 0">
          <div class="row">
            <div class="col-xs-3" style="margin-bottom: 10px; text-align: center; word-break: break-all" ng-repeat="worker in dati.lista_necessita track by $index">
              <span class="fa fa-user-plus" style="font-size: 1.5em"><br />{{worker}}</span>
            </div>
          </div>
        </div>
      </div>
        <div class="row" style="margin-top: 50px">
          <div class="col-xs-3 col-xs-offset-2">
            <div class="form-group">
              <select class="form-control" id="aggiungi" ng-change="addWorker()" ng-model="itemAdd">
                <option>AGGIUNGI</option>
                <option value="Barman">Barman</option>
                <option value="Cameriere">Cameriere</option>
                <option value="DJ">DJ</option>
                <option value="Musicista">Musicista</option>
                <option value="Pulizie">Pulizie</option>
                <option value="Sicurezza">Sicurezza</option>
                <option value="Socio">Socio</option>
                <option value="Cassiere">Cassiere</option>
              </select>
            </div>
          </div>
          <div class="col-xs-2">
          </div>
          <div class="col-xs-3">
            <div class="form-group">
              <select class="form-control" id="rimuovi" ng-change="removeWorker()" ng-model="itemRemove">
                <option>RIMUOVI</option>
                <option value="Barman">Barman</option>
                <option value="Cameriere">Cameriere</option>
                <option value="DJ">DJ</option>
                <option value="Musicista">Musicista</option>
                <option value="Pulizie">Pulizie</option>
                <option value="Sicurezza">Sicurezza</option>
                <option value="Socio">Socio</option>
                <option value="Cassiere">Cassiere</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <p>Aggiungi un'immagine cover per il tuo evento!</p>
          <file-upload on-change="$ctrl.onChange">
          </file-upload>
        </div>
      <div class="row" style="margin-top: 50px">
        <input type="submit" class="btn btn-default" name="submit" value="CONTINUA"/>
      </div>
      </form>
    </div>
</div>